html, body {
    height: 100%;
    font-size: 16px;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: lightgray;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:lightgray
}

ul {
    background-color: #303030;
}

.logo {
    height: 85px;
    width: 85px;
    background-color: white;
    cursor: pointer;
}

li.navbar, a, footer{
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    color: white;
    text-decoration: none;
    background-color: #303030;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: #303030;
    box-shadow: 0 2px 10px rgb(5, 5, 5);
}

li, a {
    list-style: none;
}

li {
    display: inline-block;
    padding: 0px 15px;
}

li, a {
    transition: all 0.3s ease 0s;
}

li a:hover {
    color: darkslategray;
}

.container-main {
    position: absolute;
    margin: 50px 80px;
    padding: 50px;
    background-color: white;
    box-shadow: 0 2px 10px rgb(5, 5, 5)
}

.h2style {
    font-family: 'Barlow', sans-serif;
    font-size: 2.75rem;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

.h2style, .face, .mestuff {
    background-color: white;
}

.mestuff {
    line-height: 1.8;
    padding: 10px;
    font-family: 'Barlow', sans-serif;
}

.face {
    border: 1px solid black;
    height: 245px;
    width: 245px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

footer {
    margin-top: 100%;
    padding-top: 20px;
    height: 100px;
    width: 100%;
    text-align: center;
    bottom: 0;
    box-shadow: 0 2px 10px rgb(5, 5, 5)
}

p.pfooter {
    list-style: none;
}

a.pfooter, p.pfooter {
    font-family: 'Barlow', sans-serif;
    color: white;
    display: inline;
    text-decoration: none;
    background-color: #303030;
}

@media (min-width: 600px) {
    p {
        font-size: 1.5rem;
    }
    body {
        color:darkred
    }

    @media (min-width: 800px) {
        p {
            font-size: 1.5rem;
            line-height: 1.75;
        }
    }