html {
    background-color:lightgray;
}

ul.boxes {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxes1, .boxes2, .boxes3, .boxes4, .boxes5 {
    list-style: none;
    border: 1px solid black;
    margin: 3em;
    padding: 5em 4em;
    background-color: #cfccff;
    box-shadow: 0 2px 10px rgb(5, 5, 5)
}

a.boxes {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    width: 100%;
    margin: 20px;
    color: black;
}

.boxes1 {
    background-image: url(https://images.unsplash.com/photo-1507327667785-fa7adba0a4ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.boxes2 {
    background-image: url(https://images.pexels.com/photos/3354135/pexels-photo-3354135.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-size: cover;
}

.boxes3 {
    background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-size: cover;
}

.boxes4 {
    background-image: url(https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-size: cover;
}

.boxes5 {
    background-image: url(https://images.pexels.com/photos/3217928/pexels-photo-3217928.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-size: cover;
}

.p-container {
    margin: 50px 80px;
    padding: 50px;
    background-color: white;
    box-shadow: 0 2px 10px rgb(5, 5, 5)
}

.h2area {
    font-size: 45px;
    font-family: 'Barlow', sans-serif;
    padding: 15px;
    border-bottom: 1px solid black;
}

ul.navigation {
    background-color: #282863;
}

.logo {
    height: 85px;
    width: 85px;
    background-color: white;
    cursor: pointer;
}

li.navbar, a.navbar, footer{
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    color: white;
    text-decoration: none;
    background-color: #282863;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: #282863;
    box-shadow: 0 2px 10px rgb(5, 5, 5);
}

li.navbar, a.navbar {
    list-style: none;
}

li.navbar {
    display: inline-block;
    padding: 0px 15px;
}

li.navbar, a.navbar {
    transition: all 0.3s ease 0s;
}

li.navbar a.navbar:hover {
    color: darkslategray;
}

footer {
    display: absolute;
    margin-top: 100%;
    padding-top: 40px;
    height: 100px;
    width: 100%;
    text-align: center;
    bottom: 0;
    box-shadow: 0 2px 10px rgb(5, 5, 5)
}

p.pfooter {
    list-style: none;
}

a.pfooter, p.pfooter {
    font-family: 'Barlow', sans-serif;
    color: white;
    display: inline;
    text-decoration: none;
    background-color: #282863;
}
